{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron text-center" style="background-color:#ffc966">
  <div class="container">
    <div class="row">
      <h1>Enter an expression</h1>
      <div class="form-group">
         <input type="text" id="message" autocomplete="off" autofocus>
         <input type="submit" value="send" id="send" hidden="hidden">
       </div>
       <div class="container" color="white"> 
         <div id="tree" class="span12" >

         </div>
       </div>
      <p></p>
    </div>
  </div>
</header>


<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
