<script src="/public/js/jquery-2.2.4.min.js"></script>
<script src="/public/js/bootstrap-3.3.6.min.js"></script>
 <script src="http://d3js.org/d3.v3.min.js"></script>
 <script src="/public/js/trees.js"></script>
<script type="text/javascript">
  initTree();
  // Create a socket
  var socket = new WebSocket('ws://'+window.location.host+'/expression/socket')

  // Display a message
  var display = function(data) {
    //$('#message').val(event);
    treeData=JSON.parse(data);
    updateTree();
  }

  // Message received on the socket
  socket.onmessage = function(event) {
    console.log(JSON.parse(event.data.replace(/Children/g,"children").replace(/Value/g,"value")));
    display(JSON.parse(event.data.replace(/Children/g,"children").replace(/Value/g,"value")));
  }

  $('#message').keypress(function(e) {
    if(e.charCode == 13 || e.keyCode == 13) {
    var message = $('#message').val()
    //$('#message').val('')
    socket.send(message)
      e.preventDefault()
    }
  })
</script>

   
   


  </body>
</html>
